.classpath
.project
.settings
.gitignore~
.DS_Store
bin
nb-configuration.xml
dependency-reduced-pom.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
target/
out/
.idea
*.ids
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
